:root {
    --grey: rgb(88, 88, 88);
    --lightblue: rgb(103, 124, 199);
    --darkblue: rgb(12, 12, 90);
}

* {
    color: white;
}

body {
    background: url('../images/milky-way-2695569__480.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    height: 100px;
    width: 100%;
    margin: 0;
    position: fixed;
    text-align: center;
    background-image: linear-gradient(to right, var(--lightblue), var(--darkblue));
    border-bottom: 3px black solid;
}


h1 {
    font-size: 40px;
}

main {
    padding-top: 80px;
}

#description {
    width: 70%;
    margin: auto;
    padding: 5px;
    background-image: linear-gradient(to left, var(--lightblue), var(--darkblue));
    text-align: center;
    font-size: 18px;
    border: 3px black solid;
}

#Btn-container {
    margin: 0px 25px;
    display: flex;
    justify-content: center;
}

.mui-textfield {
    border: solid 2px white;
}

#search-bar {
    color: white;
}

.mui-btn {
    margin: 10px;
}

.modal {
    width: 400px;
    height: 120px;
    margin: 250px auto;
    padding: 20px;
    background-color: gray;
    text-align: center;
    font-size: 25px;
}

#results-section {
    margin: 1%;
}

.card {
    border: 3px black solid;
    background-color: var(--grey);
    width: 30%;
    height: 400px;
    margin: 1%;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 30px 40px rgba(248, 245, 245, 0.1);
}

/* .card:hover {
    border-color: rgba(0,0,0,0.2);
} */